
  
html {
   background-image: url("hands-coffee-cup-apple.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size:cover;
}

body {
	background-color: white;
	width:850px;
	height: 100%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 100px;
	padding: 15px;
	

	border-radius:25px;
    border: 2px solid #ffffff;
    padding: 20px;
	
	opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
 
}

body:hover {
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */	
}

h1 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;

}

header {
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
}


h2 {
		margin-top: 30px;
		font-size: 32px;
		font-weight: normal;
		text-align: center;
}

.dates {
	float: right;
}
	

